<!DOCTYPE html>
<html>
   <head>
      <title>Add Ingredient</title>
   </head>
   <body>
      <h3>Add Ingredient</h3>
        <form action="/update_recipe/update" method="POST">
            <label for="recipe_id">Recipe id:</label>
            <input type="text" name="recipe_id" id="recipe_id">
            <label for="recipe_name_EN">New Recipe Name:</label>
            <input type="text" name="recipe_name" id="recipe_name_EN">
            <button type="submit"> Update </button>
        </form>
   </body>
</html>   