<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Recipes</title>
    </head>
    <body>
        <h2>Here you can see the complete recipe with ingredients</h2>
        <table> 
            <thead> 
            <tr> 
                <th>Recipe Name EN</th> 
                <th>Recipe Name KU</th> 
                <th>Total Time</th> 
                <th>Ingredient Name</th>
                <th>Amount</th>
                <th>Measurement Amount</th>
                <th>Directions</th> 
                <th>Author</th> 
            </tr> 
            </thead> 
            <!-- <tbody> 
                {% for row in value %}  
                    <tr> 
                        <td>{{row[0]}}</td> 
                        <td>{{row[1]}}</td> 
                        <td>{{row[2]}}</td> 
                        <td>{{row[3]}}</td> 
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td> 
                        <td>{{row[6]}}</td> 
                        <td>{{row[7]}}</td> 
                    </tr> 
                {% endfor %} 
            </tbody>  -->
        </table> 
    <!--Back to home button-->  
    </body>
</html>