<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>List of Ingredients</title>
    </head>
    <body>
        <h2>"Here you can see all the ingredients: </h2>
        <table> 
            <thead> 
            <tr> 
                <th>id</th> 
                <th>Ingredient</th> 
            </tr> 
            </thead> 
            <tbody> 
                {% for row in value %}  
                    <tr> 
                        <td>{{row[0]}}</td> 
                        <td>{{row[1]}}</td> 
                    </tr> 
                {% endfor %} 
            </tbody> 
        </table> 
        
    </body>
</html>