<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/show_recipe.css" type="text/css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <title>Recipe Page</title>
</head>
<body>
    <div class="header">
            <h1>Recipe of:  {{recipe_name}}</h1>  
    </div>

    <div class="directions">
        <h2>Directions:</h2> <br>
        <h4>{{directions}}</h4>
    </div>

    <div class="ingredients">
        <h2>Ingredients list</h2>

        <ul class="b">
            <li>{{ ingredients | safe }}</li>
        </ul>
    </div> 

    <div class="home">
        <h4><a href="/home">Home</a></h4>
    </div>
</body>
</html>

