<!DOCTYPE html>
<html>
   <head>
      <title>Add Ingredient</title>
   </head>
   <body>
      <h3>Add Ingredient</h3>
        <form action="/update_ingredient/update" method="POST">
            <label for="ingredient_id">Ingredient id:</label>
            <input type="text" name="ingredient_id" id="ingredient_id">
            <label for="ingredient_name">New Ingredient Name:</label>
            <input type="text" name="ingredient_name" id="ingredient_name">
            <button type="submit"> Update </button>
        </form>
   </body>
</html>   